<link href="/muluinfo/page2.css" rel="stylesheet">
<footer class="footer">
	<script>
        footer();
	</script>
	<p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
	<p>
		<a href="/" target="_blank">中文网</a><em>|</em>
		<a href="#" target="_blank">网站地图</a><em>|</em>
		<a href="/bookrank" target="_blank">排行榜</a><em>|</em>
		<a href="/booktype?category=-1&action=1&vip=-1&size=-1&update=-1&tag=1&page=1&orderId=-1" target="_blank">全本小说</a><em>|</em>
		<a href="#">返回顶部</a>
	</p>
	<div style="display:none">
		<script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fecc0bde8c021f94c1ff66a0be86f98d2' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script src="./muluinfo/h.js" type="text/javascript"></script>
		<script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1257400107'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257400107%26online%3D2' type='text/javascript'%3E%3C/script%3E"));
		</script><span id="cnzz_stat_icon_1257400107"><a href="http://www.cnzz.com/stat/website.php?web_id=1257400107" target="_blank">站长统计</a>-<a href="http://www.cnzz.com/stat/website.php?web_id=1257400107&amp;method=online" target="_blank">当前在线[1543]</a></span>
		<script src="./muluinfo/z_stat.php" type="text/javascript"></script>
		<script src="./muluinfo/core.php" charset="utf-8" type="text/javascript"></script>
	</div>
</footer>