<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="src/Q.js"></script>
		<link href="src/main.css" rel="stylesheet" type="text/css">
		<title></title>
		<link rel="stylesheet" type="text/css" href="me/style.css"/>
	</head>

	<body>
		<#include "/header.html"/>
			<div class="main">

			<div id="left">

				<div class="block">
					<div class="blocktitle">用户设置</div>
					<div class="blockcontent">
						<ul class="ulnav">
							<li>
								<a href="#">用户资料</a>
							</li>
							<li>
								<a href="#">修改资料</a>
							</li>
							<li>
								<a href="#">联系信息</a>
							</li>
							<li>
								<a href="#">设置头像</a>
							</li>
							<li>
								<a href="#">修改密码</a>
							</li>
							<li>
								<a href="#">退出登录</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="block">
					<div class="blocktitle">短消息</div>
					<div class="blockcontent">
						<ul class="ulnav">
							<li>
								<a href="#">收件箱</a>
							</li>
							<li>
								<a href="#">发件箱</a>
							</li>

							<li>
								<a href="#">写给管理员</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="block">
					<div class="blocktitle">工具箱</div>
					<div class="blockcontent">
						<ul class="ulnav">

							<li>
								<a href="/bookcase">我的书架</a>
							</li>

							<li>
								<a href="#">申请作者</a>
							</li>

							<li>
								<a href="#">在线充值</a>
							</li>
							<li>
								<a href="#">充值记录</a>
							</li>

							<li>
								<a href="#">打赏记录</a>
							</li>

							<li>
								<a href="#">消费记录</a>
							</li>

						</ul>
					</div>
				</div>

			</div>
			<div id="centerm">
				<div id="content">
					<table class="grid" width="100%" align="center">
						<caption>用户信息</caption>
						<tbody>
							<tr align="left">
								<td width="20%" class="tdl">用户ID：</td>
								<td width="40%" class="tdr">16652</td>
								<td width="40%" rowspan="9" class="tdr" align="center">
									<img src="./小说,小说排行榜,免费小说下载,好看的小说尽在集文网_files/noavatar.jpg" class="avatar" alt="头像"><br>

								</td>
							</tr>
							<tr align="left">
								<td class="tdl">用户名：</td>
								<td class="tdr">2111968288</td>
							</tr>
							<tr align="left">
								<td class="tdl">昵称：</td>
								<td class="tdr">2111968288</td>
							</tr>
							<tr align="left">
								<td class="tdl">等级：</td>
								<td class="tdr">普通会员</td>
							</tr>
							<tr align="left">
								<td class="tdl">头衔：</td>
								<td class="tdr">新手上路</td>
							</tr>
							<tr align="left">
								<td class="tdl">性别：</td>
								<td class="tdr">保密</td>
							</tr>
							<tr align="left">
								<td class="tdl">Email：</td>
								<td class="tdr">
									<a href="mailto:1264830070@qq.com">1264830070@qq.com</a>
								</td>
							</tr>
							<tr align="left">
								<td class="tdl">QQ：</td>
								<td class="tdr"></td>
							</tr>
							<tr align="left">
								<td class="tdl">网站：</td>
								<td class="tdr">
									<a href="http://www.ijiwen.com/userdetail.php" target="_blank"></a>
								</td>
							</tr>
							<tr align="left">
								<td class="tdl">注册日期：</td>
								<td colspan="2" class="tdr">2017-01-12</td>
							</tr>

							<tr>
								<td colspan="3" class="foot">VIP信息</td>
							</tr>
							<tr align="left">
								<td class="tdl">VIP类型：</td>
								<td colspan="2" class="tdr">非vip会员</td>
							</tr>
							<tr align="left">
								<td class="tdl">集文币：</td>
								<td colspan="2" class="tdr">0 &nbsp; [
									<a href="http://www.ijiwen.com/modules/pay/buyegold.php">充值</a>]</td>
							</tr>

							<tr>
								<td colspan="3" class="foot">其他信息</td>
							</tr>
							<tr align="left">
								<td class="tdl">用户签名：</td>
								<td colspan="2" class="tdr"></td>
							</tr>
							<tr align="left">
								<td class="tdl">个人简介：</td>
								<td colspan="2" class="tdr"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<#include "/footer.html"/>
	</body>

</html>