<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>《元气少年》_张君宝著_都市_起点中文网</title>
	<meta name="description" content="元气少年,元气少年小说阅读.都市小说元气少年由作家张君宝创作,起点小说提供元气少年首发最新章节及章节列表,元气少年最新更新尽在起点中文网">
	<meta name="keywords" content="元气少年">
	<meta name="robots" content="all">
	<meta name="googlebot" content="all">
	<meta name="baiduspider" content="all">
	<meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com/book/showbook.aspx?bookid=1003698462">
	<meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com/book/showbook.aspx?bookid=1003698462">
	<meta http-equiv="mobile-agent" content="format=html5; url=http://m.qidian.com/book/showbook.aspx?bookid=1003698462">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="renderer" content="webkit">


	<link rel="stylesheet" data-ignore="true" href="/bookinfo/vote_popup.0.32.css">
	<!--身体-->
	<link href="/muluinfo/page.css" rel="stylesheet">
	<script src="/muluinfo/jquery.js" type="text/javascript"></script>
	<script src="/muluinfo/page1.js" type="text/javascript"></script>
	<script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {,
                "bdText": "",
                "bdMini": "2",
                "bdMiniList": false,
                "bdPic": "",
                "bdStyle": "0",
                "bdSize": "16"
                ,
                "slide": {
                    "type": "slide",
                    "bdImg": "6",
                    "bdPos": "right",
                    "bdTop": "181.5"
                    ,
                    "image": {
                        "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                        "viewText": "分享到：",
                        "viewSize": "32"

        ;
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
	<script src="/muluinfo/share.js"></script>
	<link href="/muluinfo/bdsstyle.css" rel="stylesheet" type="text/css">
	<script src="/muluinfo/logger.js"></script>
	<link rel="stylesheet" href="/muluinfo/slide_share.css">

</head>

<body style="zoom: 1;">
<#include "/qidian.html"/>

<section class="margin"></section>
<section class="mlad">
	<script>
        mulu1();
	</script>
</section>
<header>当前位置：
	<a href="http://www.360118.com/" title="天天中文">天天中文</a> &gt;
	<a title="${book.type.typeName}小说" href="http://www.360118.com/fenlei1/1.html">${book.type.typeName}</a> &gt;
	<a title="${book.name}全文阅读" href="http://www.360118.com/book/55132.html">${book.name}</a> &gt; ${book.name}最新章节列表</header>
<section class="ml_title">
	<h1>${book.name}</h1><span>作者：${book.author}</span></section>
<section class="mlad">
	<script>
        mulu2();
	</script>
</section>
<!--<section class="tuijian">推荐阅读：
	<a target="_blank" href="http://www.360118.com/html/51/51595/" title="网游之逆天戒指">网游之逆天戒指</a>
	<a target="_blank" href="http://www.360118.com/html/22/22547/" title="天逆（耳根）">天逆（耳根）</a>
	<a target="_blank" href="http://www.360118.com/html/21/21319/" title="绝品邪少">绝品邪少</a>
	<a target="_blank" href="http://www.360118.com/html/22/22895/" title="我的贴身校花">我的贴身校花</a>
	<a target="_blank" href="http://www.360118.com/html/38/38858/" title="相门败类">相门败类</a>
	<a target="_blank" href="http://www.360118.com/html/44/44667/" title="校花女友初长成">校花女友初长成</a>
	<a target="_blank" href="http://www.360118.com/html/14/14989/" title="逆脉天骄">逆脉天骄</a>
	<a target="_blank" href="http://www.360118.com/html/21/21537/" title="傲世丹神">傲世丹神</a>
	<a target="_blank" href="http://www.360118.com/html/40/40850/" title="妖神记">妖神记</a>
	<a target="_blank" href="http://www.360118.com/html/44/44888/" title="天域苍穹">天域苍穹</a>
</section>-->
<section class="ml_main">
	<dl>

		<!--正文-->
		<#if book.isStatic==1>
			<#list book.chapters as chapter>
				<dd>
					<a href="/chapterstatic/${chapter.id?c}.html">${chapter.chapterName}</a>

				</dd>
			</#list>
			<#else>
				<#list book.chapters as chapter>
					<dd>

						<a href="/read?id=${chapter.id?c}">${chapter.chapterName}</a>
					</dd>
				</#list>
		</#if>


	</dl>
</section>

<section class="mlad">
	<script>
        mulu3();
	</script>
</section>

<#include "/footer.html"/>
<script>
    mulu_xf();
</script>

<div class="bdshare-slide-button-box bdshare-slide-style-r6" style="top: 181px; width: 0px; z-index: 99999; right: 0px;" data-bd-bind="1483506213015">
	<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="bdshare-slide-button" style="left: -24px;"></a>
	<div class="bdshare-slide-list-box" style="width: 0px; display: none;">
		<div class="bdshare-slide-top">分享到</div>
		<div class="bdshare-slide-list">
			<ul class="bdshare-slide-list-ul" style="width: 226px;">
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-mshare" data-cmd="mshare">一键分享</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-qzone" data-cmd="qzone">QQ空间</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-tsina" data-cmd="tsina">新浪微博</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-bdysc" data-cmd="bdysc">百度云收藏</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-weixin" data-cmd="weixin">微信</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-renren" data-cmd="renren">人人网</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-tqq" data-cmd="tqq">腾讯微博</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-bdxc" data-cmd="bdxc">百度相册</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-kaixin001" data-cmd="kaixin001">开心网</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-tqf" data-cmd="tqf">腾讯朋友</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-tieba" data-cmd="tieba">百度贴吧</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-douban" data-cmd="douban">豆瓣网</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-bdhome" data-cmd="bdhome">百度新首页</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-sqq" data-cmd="sqq">QQ好友</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-thx" data-cmd="thx">和讯微博</a>
				</li>
				<li>
					<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-ibaidu" data-cmd="ibaidu">百度中心</a>
				</li>
			</ul>
		</div>
		<div class="bdshare-slide-bottom" style="width: 226px;">
			<a href="http://www.360118.com/html/55/55132/#" onclick="return false;" class="slide-more" data-cmd="more">更多...</a>
		</div>
	</div>
</div>
<div id="id" class="sr-bdimgshare sr-bdimgshare-type sr-bdimgshare-size sr-bdimgshare-color" style="height:heightpx;line-height:lineHeightpx;font-size:fontSizepx;width:widthpx;display:none;">
	<div class="bdimgshare-bg"></div>
	<div class="bdimgshare-content bdsharebuttonbox bdshare-button-stylestyle-size"><label class="bdimgshare-lbl">text</label>list</div>
</div>
</body>

</html>